.card {
  background-color: lightblue;
  text-align: center;
  margin: 100px;
  padding: 20px;
  border-radius: 10px;
}


.card button {
  background-color: black;
  margin: 10px;
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
}
